@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: "Roboto-Bold";
  src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: "Roboto-Medium";
  src: url(../fonts/Roboto-Medium.ttf);
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: #3d464d;
}
body {
  font-family: "Roboto";
  font-size: 1rem;
  background-color: var(--light-color);
}
* {
  margin: 0;
  padding: 0;
}
:root {
  --lr-padding: 3%;
  --light-color: #f5f5f5;
  --text-body: #6c757d;
}
a {
  text-decoration: none;
}
.small-nav,
.main-nav{
  padding: 0 var(--lr-padding);
}
/*################### small nav component######*/
.small-nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--light-color);
}
.small-nav .links a {
  color: var(--text-body);
  line-height: 2.5rem;
  margin: 5px;
}
.small-nav .links a:hover {
  text-decoration: underline;
}
/*Lists*/
.lists {
  display: flex;
  gap: 5px;
  align-items: center;
}
.drop-down-list {
  position: relative;
}
.drop-down-list .title {
  font-size: 0.9rem;
  background-color: #fff;
  border: 1px #fff solid;
  padding: 5px;
}
.drop-down-list .title:hover {
  background-color: #ececec;
  border-color: #e6e6e6;
}
.drop-down-list:hover ul {
  display: block;
}
.drop-down-list ul {
  display: none;
  position: absolute;
  right: 0;
}
.drop-down-list .title::after {
  border-top: 0.3rem #000 solid;
  border-left: 0.3rem transparent solid;
  border-right: 0.3rem transparent solid;
  content: "";
  display: inline-block;
  vertical-align: 0.1rem;
  margin-left: 10px;
}
.drop-down-list ul {
  min-width: 10rem;
  padding: 0.5rem 0;
  color: #6c757d;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.drop-down-list ul li {
  list-style: none;
  padding: 0.25rem 1.5rem;
  font-weight: 400;
  color: #212529;
  background-color: transparent;
  cursor: pointer;
}
.drop-down-list ul li:hover {
  background-color: var(--light-color);
}
/*Main header*/
.main-header {
  background-color: #fff;
  height: 100px;
}

/*Features*/
.features,
.features-float {
  padding: 10px var(--lr-padding);
}
.features {
  display: grid;
  justify-content: space-between;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.feature {
  background-color: #fff;
  padding: 25px 10px;
  border-radius: 5px;
  border: 1px solid var(--light-color);
  flex-grow: 1;
}

.feature,
.feature-float {
  background-color: #fff;
  padding: 25px 10px;
  border-radius: 5px;
  border: 1px solid var(--light-color);
}
.feature {
  flex-grow: 1;
}
.feature span,
.feature-float span {
  font-size: 1.25rem;
  font-weight: 600;
  color: #3d464d;
  vertical-align: 0.5rem;
}

.feature i,
.feature-float i {
  color: #ffd333;
  font-size: 2.25rem;
  font-weight: 900;
  margin: 0 1rem;
}
.features-float::after {
  content: "";
  clear: both;
  display: block;
}
.feature-float {
  float: left;
  width: 25%;
  box-sizing: border-box;
}

/*offers*/
.offers {
  padding: 0 var(--lr-padding);
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
}

.main-offer {
  grid-row: 1/3;
}
.offers img {
  max-width: 100%;
}
.offer {
  position: relative;
  overflow: hidden;
}
.offer-content {
  position: absolute;
  top: 0px;
  background-color: #e6e6e61e;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 2rem 0;
}

.offer-content h5,
.offer-content h4 {
  color: #fff;
}
.offer:hover img {
  transform: rotate(10deg) scale(1.25);
  transition: 0.6s 0.3s;
}

.logo-container {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
background-color: white;
vertical-align:middle;
/* padding-left: 3.7rem; */

}

.logo {

display: flex;
justify-content: flex-start;
text-transform: uppercase;
font-size: 2.5rem;
padding-top: 1%;
padding-bottom: 1%;
font-weight: bolder;
gap: 0px;
flex:20%;
font-family: "Roboto-Bold";
margin-left: 3%;


}
.logo .a1{

  text-decoration: none;
  color: #FFD333;
  line-height: 3rem;
  background-color:  #3d464d;
  width: 125px;
  height: 50px;
  text-align: center;
  
  }
  .logo .a2{
    
    
    text-decoration: none;
    color:  #3d464d;
    line-height: 3rem;
    background-color:  #FFD333;
    width: 125px;
    height: 50px;
    text-align: center;
    }
  .search{
    display: flex;
    justify-content: center;
    line-height: 2.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem; 
    flex:33%;
    
  }
  .search-bar{
    height: 2rem;
    width: 70%;
    padding-left: 1rem;
    font-size: 1rem;
    border: 0.1px solid  #6c757d;
    border-right: 0px;
    
  }
  .search-bar:focus{

    outline: none;
    font-size: 1rem;
    border: 0.1px solid #FFD333;
  }

  .search i{
    color: #FFD333;
    line-height: 2.1rem;
    border: 0.1px solid  #6c757d;
    height: 2rem;
    width: 2rem;
    text-align: center;
    
    
  }

  .contact{
    color: #6c757d;
    text-align: right;
    padding-top: 1.2rem;
    margin-right: 3%;
    
    flex:20%;
  }
  .contact .phone{
    color: #000;
    font-weight: bolder;
    font-size: 1.3rem;
    
   }



   @media only screen and (max-width: 800px) {
    .logo,.search,.contact {
      flex:100%;
      justify-content: center;
    }
    .contact{
      text-align: center;
    }
  }
  


   .main-nav{
    background-color: #3d464d;
    display:flex;
    justify-content: space-between;
    margin-bottom: 1%;
   }
  
    .categories{
      width: 25rem;
     
    }
   .main-nav .categories .categories-button {
    width: 100%;
    max-width: 25rem;
    height: 4.1rem;
    outline: none;
    border: 0.1px solid #FFD333;
    background-color: #FFD333;
    text-align:left; 
    font-family: "Roboto-Medium";
    color:#3d464d;
    padding-left: 5%;
    font-size: 1rem;
    

  }

    .main-nav .categories .categories-button a{
     padding-right: 62%;
     padding-left: 2%; 
    }
    .navigators{
      display: flex;
      gap: 50px;
    }
     .categories .categories-list{
      display: none;
      position: absolute;
      
      
    }
    .categories,.categories-list,.categories-button{
      position: relative;
    }

    .categories .categories-button:hover{
      cursor: pointer;
    }
    .categories:hover .categories-list{
      width: 25rem;
      display: block;
      list-style: none;
      font-weight: 400;
      color: #212529;
      background-color: white;
      font-size: 1rem;
      color: grey;

    }
    .categories:hover .categories-list a{
      padding-right: 71%;
      padding-left: 7%;
      line-height: 2.5rem;
    }
    .main-nav .categories .categories-list li{
      border-bottom: 0.1px solid lightgray;
      cursor: pointer;
    }
    .main-nav .categories .categories-list li:hover {
      background-color: var(--light-color);
    }
     .dress-button{
      position: relative;
    }
     .dress-list{
      display: none;
      position: absolute;
      
    }
    
     .dress-button:hover .dress-list{
      width: 15rem;
      display: inline;
      margin-left: 3.5%;
      list-style: none;
      font-weight: 400;
      color: #212529;
      background-color: white;
      font-size: 1rem;
      
    }
    .dress-button:hover .dress-list a{
      padding-right: 71%;
      padding-left: 7%;
      line-height: 2.5rem;
    }
  
    .nav-buttons{
      
      display: flex;
      flex: 5%;
      color: white;
      justify-content: flex-start;
      width: 400px;
      line-height: 4rem;  
    }
    .nav-buttons .drop-down-list{
      display: none;
    }
    .nav-buttons .drop-down-item:hover .drop-down-list{
      display: block;
      position: absolute;
      width: 10rem;
      margin-top: 2px;
      left:5;
      list-style: none;
      font-weight: 400;
      color: #212529;
      background-color: #FFD333;
      font-size: 1rem;
      color: grey;
    }

    .nav-buttons .drop-down-item:hover .drop-down-list li{
      padding-right: 71%;
      padding-left: 7%;
      line-height: 2.5rem;
    }
    .nav-buttons .drop-down-item:hover .drop-down-list li:hover{
      background-color: var(--light-color);
    }
    .nav-buttons a{
      
      overflow-wrap: normal;
      margin-right: 20px;
      white-space: nowrap;
    }

    .nav-buttons a:hover{
      cursor: pointer;
      color: #FFD333 ;
    }
    .trackers{
      
      white-space: nowrap;
      
    
    }
    .trackers i{
      
      color: #FFD333;
      padding: 2px;
    }
    .trackers a{
      
      color: white;
      border: 0.1px solid white ;
      border-radius: 50%;
      line-height: 4rem;
      padding-top: 2px;
      padding-bottom: 2px;
      padding-left: 5px;
      padding-right: 5px;
      height: 5px;
      font-weight: bolder;
      font-size: 13px;
    }
    .trackers a:hover,i:hover{
      cursor: pointer;
    }

@media only screen and (max-width: 988px) {
  .features {
    grid-template-columns: repeat(2, 1fr);
  }
  .offers {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}

@media only screen and (max-width: 578px) {
  .features {
    grid-template-columns: 1fr;
  }
}
